#data-legal {
  & h2 {
    font-size: calc(var(--base-size) * 1.5);
    color: var(--grey-dark);
  }

  & p + h2 {
    margin-top: var(--base-size);
  }

  & strong {
    font-weight: 500;
  }

  & .legal-details {
    margin-top: var(--base-size);
  }
}
